<?php
/**
 * Copyright © Cryozonic Ltd. All rights reserved.
 *
 * @package    Cryozonic_StripePayments
 * @copyright  Copyright © Cryozonic Ltd (http://cryozonic.com)
 * @license    Commercial (See http://cryozonic.com/licenses/stripe.html for details)
 */

$cards = $this->getCards();
$ccType = $block->getInfoData('cc_type');
$ccExpMonth = $block->getInfoData('cc_exp_month');
$ccExpYear = $block->getInfoData('cc_exp_year');

if (empty($cards)): ?>
<div class="message info empty">
  <span>You do not have any saved cards yet.</span>
</div>
<?php else: ?>
  <div class="table-wrapper cryozonic-stripe">
    <table class="data table table-order-items history saved-cards" id="my-orders-table">
      <caption class="table-caption">Saved Cards</caption>
      <thead>
        <tr>
          <th scope="col" class="col cards" colspan="3">Cards</th>
          <th scope="col" class="col actions">Actions</th>
        </tr>
      </thead>
      <tbody>
  <?php foreach ($cards as $card): ?>
      <tr>
        <td data-th="Brand" class="col brand">
          <span class="type <?php echo $card->brand; ?>">
            <?php echo $card->brand; ?>
          </span>
        </td>
        <td data-th="Last 4" class="col last4">
          ****&nbsp;<?php echo $card->last4; ?>
        </td>
        <td data-th="Expires" class="col exp">
          <?php echo $card->exp_month; ?>/<?php echo $card->exp_year; ?>
        </td>
        <td data-th="Actions" class="col actions">
          <a href="delete/<?php echo $card->id; ?>" class="cryozonic-stripe delete-card">Delete</a>
        </td>
      </tr>
  <?php endforeach; ?>
      </tbody>
    </table>
  </div>
<?php endif; ?>

<?php if (!$block->config->getSaveCards()) { return; } ?>
<br>

<form class="form new-saved-card" action="save/" method="post" id="payment_form_cryozonic_stripe_payment">
  <fieldset class="fieldset payment-method stripe-new cryozonic-stripe">
    <legend class="legend"><span>Add a new saved card</span></legend>
    <br>

<?php if ($this->verifyBillingAddress()): ?>

    <div class="field required stripe-new">
      <label for="cryozonic_stripe_cc_owner" class="label">
        <span><?php echo $block->escapeHtml(__('Name on Card')); ?></span>
      </label>
      <div>
        <input type="text" id="cryozonic_stripe_cc_owner"
          <?php if (!$block->config->isStripeJsEnabled()): ?>
            name="payment[cc_owner]"
          <?php endif; ?>
          title="<?php echo $block->escapeHtml(__('Name on Card')); ?>" class="stripe-input"
          value="<?php /* @noEscape */ echo $block->getInfoData('cc_owner'); ?>" />
      </div>
    </div>

    <div class="field required stripe-new">
      <label for="cryozonic_stripe_cc_number" class="label">
        <span><?php echo $block->escapeHtml(__('Card Number')); ?></span>
      </label>
      <div>
        <input type="text" id="cryozonic_stripe_cc_number"
        <?php if (!$block->config->isStripeJsEnabled()): ?>
          name="payment[cc_number]"
        <?php endif; ?>
        title="<?php echo $block->escapeHtml(__('Card Number')); ?>" class="stripe-input" value="<?php /* @noEscape */ echo $block->getInfoData('cc_number'); ?>"/>
      </div>
    </div>

    <div class="field required stripe-new">
      <label for="cryozonic_stripe_expiration" class="label">
        <span><?php echo $block->escapeHtml(__('Expiration Date')); ?></span>
      </label>
      <div>
        <select id="cryozonic_stripe_expiration"
          <?php if (!$block->config->isStripeJsEnabled()): ?>
            name="payment[cc_exp_month]"
          <?php endif; ?>
          class="required-entry stripe-input">
          <?php foreach ($block->getCcMonths() as $k => $v): ?>
            <option value="<?php echo $block->escapeHtml($k); ?>"
              <?php if ($k == $ccExpMonth): ?>selected="selected"<?php endif ?>>
              <?php echo $block->escapeHtml($v); ?>
            </option>
          <?php endforeach; ?>
        </select>
        <select id="cryozonic_stripe_expiration_yr"
          <?php if (!$block->config->isStripeJsEnabled()): ?>
            name="payment[cc_exp_year]"
          <?php endif; ?>
          class="required-entry stripe-input">
          <?php foreach ($block->getCcYears() as $k => $v): ?>
            <option value="<?php /* @noEscape */ echo $k ? $block->escapeHtml($k) : '' ?>"
              <?php if ($k == $ccExpYear): ?>selected="selected"<?php endif ?>>
              <?php echo $block->escapeHtml($v); ?>
            </option>
          <?php endforeach ?>
        </select>
      </div>
    </div>

    <div class="field required stripe-new">
      <label for="cryozonic_stripe_cc_cid" class="label">
        <span><?php echo $block->escapeHtml(__('Card Verification Number')); ?></span>
      </label>
      <div>
        <input type="text" title="<?php echo $block->escapeHtml(__('Card Verification Number')); ?>"
        class="required-entry stripe-input"
        style="max-width: 50px" id="cryozonic_stripe_cc_cid"
        <?php if (!$block->config->isStripeJsEnabled()): ?>
          name="payment[cc_cid]"
        <?php endif; ?>
        value="<?php /* @noEscape */ echo $block->getInfoData('cc_cid') ?>"/>
      </div>
    </div>

  </fieldset>

  <script type="text/javascript">
    require(['jquery', 'jquery/ui'], function($){
      $(document).ready(function()
      {
        var isAvsEnabled = '<?php echo ($block->config->isAvsEnabled() ? 1 : ""); ?>';
        var isStripeJsEnabled = '<?php echo ($block->config->isStripeJsEnabled() ? 1 : ""); ?>';
        var stripeJsPublishableKey = '<?php echo $block->config->getPublishableKey(); ?>';
        cryozonic.avsFields = <?php echo $this->getBillingAddress(); ?>;
        if (typeof window.checkoutConfig == 'undefined')
        {
          window.checkoutConfig = {
            'payment': {
              'cryozonic_stripe': {
                'isAvsEnabled': isAvsEnabled
              }
            }
          };
        }
        if (isStripeJsEnabled)
          initStripe(stripeJsPublishableKey);
      });
    });
  </script>

  <div class="actions-toolbar">
    <div class="primary">
      <button type="submit" title="Save" class="action save primary"
        <?php if ($block->config->isStripeJsEnabled()): ?>
          onclick="return cryozonic.saveCard(this);"
        <?php endif; ?>
        >
        <span>Save</span>
      </button>
    </div>
  </div>

</form>

<?php else: ?>

  <div class="message info empty">
    <span>You must first add a full billing address before you can add saved cards.</span>
  </div>

  </fieldset>
</form>
<?php endif; ?>