.cryozonic-saved-card {
    margin-bottom: 0.7em;
}
.cryozonic-saved-card span.type {
    font-weight: bold;
}
.cryozonic-saved-card span.exp {
    float: right;
}
.cryozonic-saved-card span.cryozonic-stripe-fade {
    color: #999;
    font-weight: normal;
}
.cryozonic-saved-card label {
    display: inline;
}

/* Admin create new order styling */
.admin__fieldset.payment-method.cryozonic-stripe {
    margin-top: 20px;
}
.admin__fieldset .cryozonic-saved-cards-section {
    margin-bottom: 20px;
}
.admin__fieldset.cryozonic-stripe label {
    padding-left: 5px;
}
.admin__fieldset#payment_form_cryozonic_stripe_payment:not(.stripe-new) .stripe-new {
    display: none;
}
.admin__fieldset #cryozonic_stripe_cc_save {
    margin-right: 5px;
}
.cryozonic-stripe.indent,
.cryozonic-stripe .indent {
    margin-left: 20px;
    margin-top: 5px;
}
.admin__fieldset#payment_form_cryozonic_stripe_subscription > div {
    margin-bottom: 0.7em;
}
.admin__fieldset.payment-method.cryozonic-stripe.hide,
.admin__fieldset.payment-method.cryozonic-stripe .hide {
    display: none;
}
.admin__fieldset.payment-method.cryozonic-stripe #select_subscription {
    margin: 10px 20px 20px 21px;
}

/* Card Icons */
.cryozonic-stripe span.type.Visa { background: url(../img/visa.png) no-repeat; }
.cryozonic-stripe span.type.American.Express { background: url(../img/amex.png) no-repeat; }
.cryozonic-stripe span.type.MasterCard { background: url(../img/mastercard.png) no-repeat; }
.cryozonic-stripe span.type.Discover { background: url(../img/discover.png) no-repeat; }
.cryozonic-stripe span.type.Diners { background: url(../img/diners.png) no-repeat; }
.cryozonic-stripe span.type.JCB { background: url(../img/jcb.png) no-repeat; }

.cryozonic-stripe span.type.Visa,
.cryozonic-stripe span.type.American.Express,
.cryozonic-stripe span.type.MasterCard,
.cryozonic-stripe span.type.Discover,
.cryozonic-stripe span.type.Diners,
.cryozonic-stripe span.type.JCB {
    padding-left: 40px;
    background-position-y: -3px;
    display: inline-block;
    height: 22px;
    background-size: 30px;
}