<!--
/**
 * Copyright © Cryozonic Ltd. All rights reserved.
 *
 * @package    Cryozonic_StripePayments
 * @copyright  Copyright © Cryozonic Ltd (http://cryozonic.com)
 * @license    Commercial (See http://cryozonic.com/licenses/stripe.html for details)
 */
-->
<div class="payment-method" data-bind="css: {'_active': (getCode() == isChecked())}">
  <div class="payment-method-title field choice">
    <input type="radio"
      name="payment[method]"
      class="radio"
      data-bind="
        attr: { 'id': getCode() },
        value: getCode(),
        checked: isChecked,
        click: selectPaymentMethod,
        visible: isRadioButtonVisible()
      "/>
    <label class="label" data-bind="attr: {'for': getCode()}">
      <span data-bind="text: getTitle()"></span>
    </label>
  </div>

  <div class="payment-method-content">
    <!-- ko foreach: getRegion('messages') -->
    <!-- ko template: getTemplate() --><!-- /ko -->
    <!--/ko-->
    <div class="payment-method-billing-address">
      <!-- ko foreach: $parent.getRegion(getBillingAddressFormName()) -->
      <!-- ko template: getTemplate() --><!-- /ko -->
      <!--/ko-->
    </div>

    <p class="cryozonic-billing-address-warning" data-bind="if: !isBillingAddressSet()">
      <!-- ko i18n: 'Please update your billing address to proceed.'--><!-- /ko -->
    </p>

    <div class="cryozonic-stripe cryozonic-stripe-apple-pay-section" data-bind="if: cryozonicStripeShowApplePaySection">
      <label><!-- ko i18n: 'Buy now with Apple Pay'--><!-- /ko --></label>
      <button id="apple-pay-button" data-bind="click: beginApplePay"></button>
      <label><!-- ko i18n: 'Or use a card below'--><!-- /ko --></label>
    </div>

    <div data-bind="
        if: cryozonicApplePayToken,
        visible: cryozonicApplePayToken()
      " class="cryozonic-stripe cryozonic-stripe-apple-pay-result">
        <label><!-- ko i18n: 'Paying by Apple Pay'--><!-- /ko --></label>
        <div>
          <span id="apple-pay-result-brand"
            data-bind="
              html: cryozonicApplePayToken().card.brand,
              attr: { class: cryozonicApplePayToken().card.brand + ' type' }
            ">
          </span>
          **** <span id="apple-pay-result-last4" data-bind="html: cryozonicApplePayToken().card.last4"></span>
        </div>
        <button type="button" class="action" title="<!-- ko i18n: 'Reset'--><!-- /ko -->" name="reset" data-bind="click: resetApplePay">
          <span><!-- ko i18n: 'Reset'--><!-- /ko --></span>
        </button>
    </div>

    <div data-bind="
        if: showSavedCardsSection,
        visible: showSavedCardsSection
      " class="cryozonic-stripe cryozonic-saved-cards-section">
      <div data-bind="foreach: config().savedCards">
        <div class="cryozonic-saved-card">
          <input type="radio" name="payment[cc_saved]" class="select"
            data-bind="
              checked: $parent.cryozonicStripeSelectedCard,
              attr: {
                id: id
              },
              value: radio_value
            ">
          <label data-bind="attr: { for: id }">
            <span data-bind="attr: { class: brand + ' type' }, text: brand"></span>
            <span data-bind="text: last4" class="last4 cryozonic-stripe-fade"></span>
            <span class="exp cryozonic-stripe-fade">
              <!-- ko i18n: 'exp'--><!-- /ko -->
              <span data-bind="text: exp_month"></span>/<span data-bind="text: exp_year"></span>
            </span>
          </label>
        </div>
      </div>

      <div data-bind="if: config().savedCards.length">
        <input data-bind="checked: cryozonicStripeSelectedCard" type="radio" name="payment[cc_saved]" value="new_card" class="select" id="new_card">
        <label for="new_card">
            <span><!-- ko i18n: 'Use a new card'--><!-- /ko --></span>
        </label>
      </div>
      <br>
    </div>

    <div class="fieldset ccard" data-bind="visible: showNewCardSection">

      <div data-bind="
          attr: {
            id: getCode() + '_cc_type_exp_div'
          }
        " class="field required">
        <label data-bind="attr: {for: getCode() + '_cc_owner'}" class="label">
          <span><!-- ko i18n: 'Name on Card'--><!-- /ko --></span>
        </label>
        <div class="control">
          <input type="text" name="payment[cc_owner]" class="input-text" value=""
            data-bind="
              attr: {
                autocomplete: off,
                id: getCode() + '_cc_owner',
                title: $t('Name on Card'),
                'data-container': getCode() + '-cc-owner',
                'data-validate': JSON.stringify({'required':true})
              },
              enable: isActive($parents),
              value: cryozonicStripeCardName,
              valueUpdate: 'keyup'
            "/>

        </div>
      </div>

      <div data-bind="
          attr: {
            id: getCode() + '_cc_type_exp_div'
          }
        " class="field number required">
        <label data-bind="attr: {for: getCode() + '_cc_number'}" class="label">
          <span><!-- ko i18n: 'Card Number'--><!-- /ko --></span>
        </label>
        <div class="control">
          <input type="number" name="payment[cc_number]" class="input-text" value=""
          data-bind="
            attr: {
              autocomplete: off,
              id: getCode() + '_cc_number',
              title: $t('Card Number'),
              'data-container': getCode() + '-cc-number',
              'data-validate': JSON.stringify({'required-number':true, 'validate-card-number':'#' + getCode() + '_cc_type'})
            },
            enable: isActive($parents),
            value: cryozonicStripeCardNumber,
            valueUpdate: 'keyup'
          "/>
        </div>
      </div>

      <div data-bind="
          attr: {
            id: getCode() + '_cc_type_exp_div'
          }
        " class="field date required">
        <label data-bind="attr: {for: getCode() + '_expiration'}" class="label">
          <span><!-- ko i18n: 'Expiration Date'--><!-- /ko --></span>
        </label>
        <div class="control">
          <div class="fields group group-2">
            <div class="field no-label month">
              <div class="control">
                <select  name="payment[cc_exp_month]"
                  class="select select-month"
                  data-bind="
                    attr: {
                      id: getCode() + '_expiration',
                      'data-container': getCode() + '-cc-month',
                      'data-validate': JSON.stringify({required:true, 'validate-cc-exp':'#' + getCode() + '_expiration_yr'})
                    },
                    enable: isActive($parents),
                    options: getCcMonthsValues(),
                    optionsValue: 'value',
                    optionsText: 'month',
                    optionsCaption: $t('Month'),
                    value: cryozonicStripeCardExpMonth
                  ">
                </select>
              </div>
            </div>
            <div class="field no-label year">
              <div class="control">
                <select name="payment[cc_exp_year]"
                  class="select select-year"
                  data-bind="
                    attr: {
                      id: getCode() + '_expiration_yr',
                      'data-container': getCode() + '-cc-year',
                      'data-validate': JSON.stringify({required:true})
                    },
                    enable: isActive($parents),
                    options: getCcYearsValues(),
                    optionsValue: 'value',
                    optionsText: 'year',
                    optionsCaption: $t('Year'),
                    value: cryozonicStripeCardExpYear
                  ">
                </select>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div data-bind="
          attr: {
            id: getCode() + '_cc_type_cvv_div'
          }
        " class="field cvv required">
        <label data-bind="attr: {for: getCode() + '_cc_cid'}" class="label">
          <span><!-- ko i18n: 'Card Verification Number'--><!-- /ko --></span>
        </label>
        <div class="control _with-tooltip">
          <input type="number"
            autocomplete="off"
            class="input-text cvv"
            name="payment[cc_cid]"
            value=""
            data-bind="
              attr: {
                id: getCode() + '_cc_cid',
                title: $t('Card Verification Number'),
                'data-container': getCode() + '-cc-cvv',
                'data-validate': JSON.stringify({'required-number':true, 'validate-card-cvv':'#' + getCode() + '_cc_type'})
              },
              enable: isActive($parents),
              value: cryozonicStripeCardVerificationNumber
            "/>
          <div class="field-tooltip toggle">
            <span class="field-tooltip-action action-cvv"
              tabindex="0"
              data-toggle="dropdown"
              data-bind="
                attr: {title: $t('What is this?')},
                mageInit: {'dropdown':{'activeClass': '_active'}}
              ">
              <span><!-- ko i18n: 'What is this?'--><!-- /ko --></span>
            </span>
            <div class="field-tooltip-content"
                 data-target="dropdown"
                 data-bind="html: getCvvImageHtml()"></div>
          </div>
        </div>
      </div>

    </div>

    <div data-bind="
      if: showSaveCardOption,
      visible: !config().alwaysSaveCard">
      <div class="input-box">
        <label for="<?php echo $_code ?>_cc_save">
            <input type="checkbox"
              data-bind="
                attr: {
                  title: $t('Save card for future purchases'),
                  id: getCode() + '_cc_save'
                },
                checked: cryozonicStripeCardSave
              "
              class="input-checkbox stripe-input" name="payment[cc_save]" checked="checked"/>
            <label data-bind="attr: {for: getCode() + '_cc_save'}" class="label">
              <span><!-- ko i18n: 'Save card for future purchases'--><!-- /ko --></span>
            </label>
        </label>
      </div>
    </div>

    <input type="hidden"
          class="input-text"
          name="payment[cc_stripejs_token]"
          value=""
          data-bind="
            attr: {
              id: getCode() + '_cc_stripejs_token'
            },
            enable: config().isStripeJsEnabled,
            value: cryozonicStripeJsToken
          "/>

    <div class="checkout-agreements-block">
        <!-- ko foreach: $parent.getRegion('before-place-order') -->
            <!-- ko template: getTemplate() --><!-- /ko -->
        <!--/ko-->
    </div>

    <div class="actions-toolbar">
      <div class="primary">
        <button class="action primary checkout" type="submit"
          data-bind="
            click: stripeJsPlaceOrder,
            enable: isPlaceOrderEnabled(),
            attr: {title: $t('Place Order')}
          ">
          <span data-bind="i18n: 'Place Order'"></span>
        </button>
      </div>
    </div>

  </div>
</div>
